body {
  text-align: center;
  background-color: #B22222;
}

div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
}

.main {
  background-color: #FFFAF0;
  margin-right: 10%;
  margin-left: 10%;
}
