body {
  text-align: center;
  background-color: #B22222;
  margin: 0px;
}

div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
}

.main {
  background-color: #FFFAF0;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0px;
}

.header {
  background-color: #FFD700;
  margin-top: 0px; 
}

.header-title {
  font-family: georgia, serif;
  color: grey;
  margin-block-end: 0px;
  margin-block-start: 0px;
  font-size: 60px;
  font-weight: normal;
}
